body {
    background-color: #000000;
    font-family: 'Indie Flower', serif;
    font-size: 18px;
    color: #ffffff;
      
    margin: 0;
}

.spacer {
    height: 30px;
}

.clickable:hover {
    cursor: pointer;
    color: #ffffff;
    background-color: #001100
}