<div class="container">
    <div class="page-header">
        <h1>GEEBLIN SLAYIN' SIM</h1>
    </div>

    <div class="row">
        <div class="col-md-3">
            Kanye West the Geeblin Slayer
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary" ng-click="getData()">Slay Geeblin?</button>
        </div>
    </div>
    <div class="spacer"></div>
    <div>
        {{ loseMessage }} <!-- lose message -->
    </div>
    <div>
        {{ geeblinMessage }} <!-- geeblin that died -->
    </div>
    <div>
        {{ goldMessage }} <!-- gold acquired and total -->
    </div>
    <div>
        {{ healthMessage }} <!-- health status -->
    </div>

    <img src="/img/geeblin2spook.png">
    <img src="/img/dojogeeblin.png">
</div>
